[RHEL-BaseOS]
name=Red Hat Enterprise Linux BaseOS
baseurl=file://{{ reposync_dest_path }}/{{ reposync_baseos_repo_id }}
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

[RHEL-AppStream]
name=Red Hat Enterprise Linux AppStream
baseurl=file://{{ reposync_dest_path }}/{{ reposync_appstream_repo_id }}
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
